<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <div>
      {% block body %} {% endblock %}
    </div>
    <div>
      <a href="{%url 'hello:hello_world' %}">hello_world</a><br />
      <a href="{%url 'hello:hello_template' %}">hello_template</a><br />
      <a href="{%url 'hello:hello_if' %}">hello_if</a><br />
      <a href="{%url 'hello:hello_for' %}">hello_for</a><br />
      <a href="{%url 'hello:hello_get_query' %}">hello_get_query</a><br />
      <a href="{%url 'hello:hello_forms' %}">hello_forms</a><br />
      <a href="{%url 'hello:hello_forms2' %}">hello_forms_sample</a><br />
    </div>
  </body>
</html>
